<%= form_with model: profile ,html: { enctype: "multipart/form-data" } do |form| %>
  <% if profile.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% profile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.hidden_field :user_id %>
  </div>

  <div>
    <%= form.label :avatar, style: "display: block" %>
    <%= form.file_field :avatar, accept: 'image/png,image/jpeg' %>

  </div>

  <div>
    <%= form.label :bio, style: "display: block" %>
    <%= form.text_area :bio %>
  </div>

  <div>
    <%= form.label :working_field, style: "display: block" %>
    <%= form.text_field :working_field %>
  </div>

  <div>
    <%= form.hidden_field :is_seller %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
  <%= button_to "Destroy this profile", @profile, method: :delete %>

