<div id="<%= dom_id profile %>">
  <p>
    <strong>User:</strong>
    <%= profile.user_id %>
  </p>

  <p>
    <strong>Avatar:</strong>
    <%= profile.avatar %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= profile.bio %>
  </p>

  <p>
    <strong>Working field:</strong>
    <%= profile.working_field %>
  </p>

  <p>
    <strong>Is seller:</strong>
    <%= profile.is_seller %>
  </p>

</div>
