                <!-- Categories widget-->
                <div class="card mb-4">
                    <div class="card-header">Categories</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="<%= category_job_path("web")%>">Web</a></li>
                                    <li><a href="<%= category_job_path("html")%>">HTML</a></li>
                                    <li><a href="<%= category_job_path("ruby")%>">Ruby</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="<%= category_job_path("javascript")%>">JavaScript</a></li>
                                    <li><a href="<%= category_job_path("css")%>">CSS</a></li>
                                    <li><a href="<%= category_job_path("bootstrap")%>">Bootstrap</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>