        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1"><%= post.title%></h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2"><%= post.is_job==true ? "Posted" : "Requested" %> on <%= post.created_at.to_date%> by <%= post.is_job ? Seller.find(post.user_id).name : User.find(post.user_id).name%></div>
                            <!-- Post categories-->
                            <% post.fields.each do |field| %>
                                <a class="badge bg-secondary text-decoration-none link-light" href="<%= category_job_path(field)%>"><%= field%></a>
                            <%end%>
                        </header>
                        <!-- Preview image figure-->
                        <% if post.is_job == true%>
                            <% if post.banner != ""%>
                                <figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure>
                            <% end %>
                        <% end %>
                        <!-- Post content-->
                        <section class="mb-5">
                          <p>
                            <%= post.description %>
                         </p>
                        </section>
                    </article>
                    <!-- Profile section-->
                    <% profile =  Profile.find_by({user_id: post.user_id, is_seller: post.is_job ? true : false}) %>
                    <%= render 'profiles/profile', {profile: profile }%>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                <% if post.is_job == true%>
                            <%= render 'home/search' %>
                            <%= render 'home/category' %>
                <% end %>
                            <% if !seller_signed_in? and post.is_job== true %>
                                <%= render 'home/side', {profile: profile, post: post, logged: true} %>
                            <% end %>
                </div>
            </div>
        </div>