<%= form_with(model: offer) do |form| %>
  <div>
    <%= form.hidden_field :post_id%>
    <%= form.hidden_field :seller_id%>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.select :status, Offer.statuses.map { |key,value| [key.humanize, key] } %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
