<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

<% if seller_signed_in? %>
  <div>
    <%= form.label :slug, style: "display: block" %>
    <%= form.text_field :slug %>
  </div>
<% else %>
    <%= form.hidden_field :slug %>
<% end %>

  <div>
    <%= form.label (seller_signed_in? ? :description : "Requirement"), style: "display: block" %>
    <%= form.rich_text_area :description, style: "min-height: 250px"%>
  </div>

<% if seller_signed_in? %>
  <div>
    <%= form.label :banner, style: "display: block" %>
    <%= form.text_field :banner %>
  </div>
<% end %>

  <div>
    <%= form.label (seller_signed_in? ? :starting_price : "Price"), style: "display: block" %>
    <%= form.text_field :starting_price %>
  </div>
<% if seller_signed_in? %>
  <div>
    <%= form.label :fields, style: "display: inline" %><i> (seperate each with a comma, Ex: html, css, js )</i>
    <%= form.text_field :fields , value: post.fields.join(', ')%>
    
  </div>

  <% end %>

  <div>
    <%= form.hidden_field :is_job %>
  </div>

  <div>
    <%= form.hidden_field :user_id %>
  </div>

  <div>
    <%= form.hidden_field :receiver_id %>
  </div>

  <div>
    <%= form.submit "Create" %>
  </div>
<% end %>
<script>
let slug_input = document.querySelector("#post_slug");
let title_input = document.querySelector("#post_title");
function generateToken() {
  const timestamp = new Date().getTime().toString();
  return timestamp.slice(-6);
}

function removeAccents(str) {
  return str.normalize("NFD").replace(/[\u0300-\u036f]/g, "");
}
function generateSlug(string) {
  return removeAccents(string)
    .toLowerCase()
    .replace(/[^a-z0-9-]/g, "-")
    .replace(/-+/g, "-")
    .replace(/^-+/, "")
    .replace(/-+$/, "");
}
slug_input.onclick = function() {
  if(slug_input.value==""){
  const token = generateToken();
  slug_input.value = generateSlug(title_input.value)+"-"+token
  }
};
</script>
