
<tr>
  <td><%= post.title%> </th>
  <td><%= post.starting_price%> </td>
  <% if user_signed_in? and current_page?(manage_request_path) %>
  <% offer = Offer.where(post_id:post.id)%>
    <td scope="col"><%= offer.length==0 ? "Waiting" : offer.first.status %></td>
  <%end%>
  <td>
      <a class="btn btn-sm btn-primary" href="<%= post_path(post.id) %>">See</a>
      <% if (current_page?(manage_job_path) or user_signed_in?) and offer.length==0%>
        <%= link_to "Edit", edit_post_path(post), class:"btn btn-sm btn-warning" %>
        <%= button_tag 'Delete', "data-bs-target"=>"#modalDelete#{post.id}", type: 'reset', class:"btn btn-sm btn-danger", "data-bs-toggle"=>"modal" %>
      <%= render 'posts/modalDelete' ,{post: post, id: post.id}%> 
      <% end %>
  </td>
</tr>
