    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="<%= root_path%>">Freelancer Hub</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link <%= current_page?(root_path) ? 'active' : ''%>" href="<%= root_path%>">Home</a></li>
                <% if user_signed_in? %>
                    <li class="nav-item"><a class="nav-link <%= current_page?(root_path) ? 'active' : ''%>" href="#">Request</a></li>
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <%= current_user.email%>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="<%=new_seller_session_path%>">Become a Seller</a></li>
                        <li><a class="dropdown-item" href="<%=edit_user_registration_path%>">Edit Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="<%= destroy_user_session_path%>">Sign out</a></li>
                    </ul>
                    </li>
                <% else %>
                    <li class="nav-item"><a class="nav-link <%= current_page?(new_user_session_path) ? 'active' : ''%>" href="<%= new_user_session_path%>">Sign in</a></li>
                    <li class="nav-item"><a class="btn btn-outline-primary" href="<%=new_seller_session_path%>">Join</a></li>
                <% end %>
                </ul>
            </div>
        </div>
    </nav>